body{
  background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(background.png);
  height:100vh;
  background-size: cover;
  background-position: center;
  transition:
}
.logo img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 35%;
  height: auto;
}

ul{
  text-align: center;
  margin-top: -10px;
  list-style-type: none;
  color: rgb(0, 0, 0);

}

ul li{
  display:inline-block;
}
ul li a{
  text-decoration: none;
  color: rgb(193, 117, 29);
  padding:5px 20px;

}
ul li a:hover{
  color: #ed7819
  }
.Welcome h1{
   color: #ed7819;
   border: 5px solid #ed7819;
   text-align: center;
   font-family: Brush Script MT;
   font-size:70px;
   position: static;
}
.HomepageDescription p{
  color: white;
  position: absolute;
  top: 300px;
  left: 30px;
  font-family: Georgia;
  font-weight: 600;

}
.HomepageDescription h2{
  color: white;
  position: fixed;
  top: 400px;
  left: 1000px;
  font-family: Georgia;
  font-weight: 900;

}
.maingrid
{
  width: 90%;
  height: 80vh;
  margin left: 40px;
  margin-top: 30px;
  display: grid;
  grid-template-rows: %;
  grid-template-columns: 10% 90%;
  grid-row-gap: 100px;
  grid-column-gap: 120px;
}
  aside ul
  {
    list-style-type: none;
    padding-left: 0px;
    margin: 0px;
    background-color:

  }
  aside ul li
  {
    height: 87px;
    position: relative;

  }
  aside ul li a
  {
    display: block;
    width: 100%;
    line-height: 57px;
    text-align: center;
    text-decoration: none;
    border-bottom: 1px solid #c7c7c7;
    color: rgba(213, 109, 34, 0.87)
  }
  aside ul li a:hover
  {
    background-color: #cccccc;
    border-top: 1px solid #22A8AA;
    border-bottom: 1px solid #22A8AA;
  }
  .mainsection{
    background-color: rgba(201, 100, 26, 0.82);
      box-shadow: 6px 7px 5px 2px #d09c29;
      border-radius: 20px;


  }
  .mainsection img{
    width: 15%;
    height: 15%;
  }
  /* General Styles */

}
* {
   box-sizing:border-box;
   -webkit-box-sizing:border-box;
   -moz-box-sizing:border-box;
   -webkit-font-smoothing:antialiased;
   -moz-font-smoothing:antialiased;
   -o-font-smoothing:antialiased;
   font-smoothing:antialiased;
   text-rendering:optimizeLegibility;
}
body {
   color: #C0C0C0;
   font-family: Arial, san-serif;
}


/* Contact Form Styles */
h1 {
   margin: 10px 0 0 0;
}
h4{
   margin: 0 0 20px 0;
}
#contact-form {
   background-color:rgba(72,72,72,0.7);
   padding: 10px 20px 30px 20px;
   max-width:100%;
   float: left;
   left: 50%;
   position: absolute;
   margin-top:30px;
   margin-left: -260px;
   border-radius:7px;
   -webkit-border-radius:7px;
   -moz-border-radius:7px;
}
#contact-form input,
#contact-form select,
#contact-form textarea,
#contact-form label {
   font-size: 15px;
   margin-bottom: 2px;
   font-family: Arial, san-serif;
}
#contact-form input,
#contact-form select,
#contact-form textarea {
   width:100%;
   background: #fff;
   border: 0;
   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
   border-radius: 4px;
   margin-bottom: 25px;
   padding: 5px;
}
#contact-form input:focus,
#contact-form select:focus,
#contact-form textarea:focus {
   background-color: #E5E6E7;
}
#contact-form textarea {
   width:100%;
   height: 150px;
}
#contact-form button[type="submit"] {
   cursor:pointer;
   width:100%;
   border:none;
   background:#991D57;
   background-image:linear-gradient(bottom, #8C1C50 0%, #991D57 52%);
   background-image:-moz-linear-gradient(bottom, #8C1C50 0%, #991D57 52%);
   background-image:-webkit-linear-gradient(bottom, #8C1C50 0%, #991D57 52%);
   color:#FFF;
   margin:0 0 5px;
   padding:10px;
   border-radius:5px;
}
#contact-form button[type="submit"]:hover {
   background-image:linear-gradient(bottom, #9C215A 0%, #A82767 52%);
   background-image:-moz-linear-gradient(bottom, #9C215A 0%, #A82767 52%);
   background-image:-webkit-linear-gradient(bottom, #9C215A 0%, #A82767 52%);
   -webkit-transition:background 0.3s ease-in-out;
   -moz-transition:background 0.3s ease-in-out;
   transition:background-color 0.3s ease-in-out;
}
#contact-form button[type="submit"]:active {
   box-shadow:inset 0 1px 3px rgba(0,0,0,0.5);
}
input:required, textarea:required {
   box-shadow: none;
   -moz-box-shadow: none;
   -webkit-box-shadow: none;
   -o-box-shadow: none;
}
#contact-form .required {
   font-weight:bold;
   color: #E5E6E7;
}

/* Hide success/failure message
   (especially since the php is missing) */
#failure, #success {
   color: #6EA070;
   display:none;
}

/* Make form look nice on smaller screens */
@media only screen and (max-width: 580px) {
   #contact-form{
      left: 3%;
      margin-right: 3%;
      width: 88%;
      margin-left: 0;
      padding-left: 3%;
      padding-right: 3%;
   }
}
