* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  color: rgb(172, 36, 36);
  font-size: 90px;
  font-family: 'Trade Winds', cursive;
}
h2 {

  font-size: 40px;

}

body {
  font-family: verdena;
}
header {
  background: #2d343a;
  width: 100%;
  padding: 40px 0;
  color: white;
  text-align: center;
}

nav {
  width: 100%;
  background: rgb(172, 36, 36);
  text-align: center;
}

ul {
  width: 90%;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

ul li {
  display: inline-block;
  padding: 20px;
}

ul li:hover {
  background:rgb(0,0,0,0.3);
}

ul li a {
  color: #111;
  text-decoration: none;
}
.sticky{
  position:sticky;
  top:0;
}
.he{

}
.toggle {
  width: 100%;
  padding: 10px 20px;
  background: rgb(172, 36, 36);
  text-align: right;
  color: black;
  font-size: 30px;
  display: none;
  cursor:pointer;
}

@media (max-width: 600px) {
  .toggle {
    display: block;
  }
  nav{
    background:white;
    color:black;
  }
  nav ul {
    width: 100%;
    display: none;
  }

  nav ul li {
    display: block;
    text-align: center;
  }

  .active {
    display: block;
  }
}

.container
{
  margin: auto;
  padding: 30px;
  background-color: rgba(221, 6, 18, 0.64);
  width: 99%;
  box-shadow: 6px 7px 5px 2px #ededed;
  border-radius: 20px;
}
  .gridImages
  {
    width: 90%;
    height: 40vh;
    margin: auto;
    display: grid;
    grid-template-rows: 50%;
    grid-template-columns: 1fr  1fr  1fr;
    grid-row-gap: 100px;
    grid-column-gap: 120px;
  }

  .gridImages img {
    width: 100%;
    height:300px;
    /* height: 80%; */
  }

  * {
  box-sizing: border-box;
}

/* Style inputs */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

/* Style the container/contact section */
.container2 {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
}

/* Create two columns that float next to eachother */
.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
  .navigation {
    display: table;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 80px;
  }
  /* this was used in my ul tag inside my nav */
  .horizontaLine {
    padding-top: 20px;
  }
  /* this will affect all the li childs inside my horizontaLine */
  .horizontaLine li {
    display: inline;
    margin: 20px;
    padding: 20px 60px 20px 60px;
    background-color: white;
    width: 10%;
    border-radius: 20px;
  }
  /* this will affect all the a tags nested on the li elements */
  .horizontaLine li a {
    color: gray;
    text-decoration: none;
    font-family: sans-serif;
  }
  /* This will only affect my style when the cursor is on top of my a tag */
  .horizontaLine li a:hover {
    color: red;
  }
